// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
$primary = #2fab65
$typography-font-family = 'Lato', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif