.app-modal
  overflow: auto;
  display: block;
  .app-modal-content
    top: 100px;
    left: 50%;
    max-width: 80vw;
    margin: 0 0 100px -40vw;
    overflow: visible;
    max-height: none;

@media (max-width: 767px)
  .app-modal
    .app-modal-content
      top: 0;
      left: 0;
      margin: 0;
      overflow: auto;
