.app-modal
  overflow auto
  display block

  .app-modal-content
    top 60px
    left 50%
    max-width 80vw
    margin 0 0 60px -40vw
    overflow visible
    max-height none
    &.fullscreen
      top 0
      left 0
      margin 0
      max-width 100vw
      overflow auto

@media (max-width: 767px)
  .app-modal
    .app-modal-content
      top 0
      left 0
      margin 0
      overflow auto
