// app global css
@import '~medium-editor/dist/css/medium-editor.min.css'
@import '~medium-editor/dist/css/themes/default.min.css'
@import 'app/modal'
@import 'themes/common.variables'


.darkmode {
	color: $dark-text1;
	background-color: $darkDark;
}

.darkmode {
	.modal-body {
		color: $darkColor1;
	}
	a {
      color: $dark-text1;
      &:hover {
        color: $dark-text2;
        opacity: 0.7;
      }
    }
	.js-sticky {
		color: $darkColor1;
		background-color: $darkLight;
	}
    .q-tab .q-tab-label {
		color: $darkColor1;
    }

    .image-chooser-drop:hover {
		background-color: $darkExtLight;
    }

    .q-card, .q-popover, .bg-white, .q-toolbar .q-search{
		background-color: $darkLight;
    }

    .bg-white, .q-if-inner, .image-chooser {
		background-color: $darkLight !important;
	}

	.q-toolbar .q-search{
		border: 0;
	}
	.q-toolbar-title .text-black {
		color: #fff !important;
	}
	.text-black, .q-if-inner input {
		color: $darkColor1;
	}

	.cards-editor {
		background-color: $darkLight;
	}

	.cards-editor-sidebar {
		background-color: $darkLight;
	}
	.cards-editor-cards {
		background-color: $darkLight;
	}
	.cards-editor-main {
		background-color: $darkExtLight;
	}

	.cards-editor-cards li.active,
	.cards-editor-cards li:hover {
		color: $darkColor1;
		background-color: $darkLight;
	}

	.cards-editor-actions.in-sidebar,
	.cards-editor-sidebar-actions,
	.cards-editor-questions {
		color: $darkColor1;
		background-color: $darkLight;
	}
	.cards-editor-sidebar-actions-search .q-search {
		background-color: $darkLight;
	}
	.cards-editor-actions .q-icon {
		color: $darkDark;
	}
	.q-icon {
		color: $darkColor1;
	}
	.cards-editor-questions-label button {
		background-color: $darkExtLight;
		color: $darkColor1;
	}

	.q-input-target {
		color: $darkColor1;
	}

	.content-editor-content,
	.cards-editor-name {
		color: #fff;
	}
	.q-table thead, .q-table tr, .q-table th, .q-table td, .q-table-bottom {
		color: #fff;
	}
	.modal-content {
		background-color: $darkLight;
	}
}

body {
  background: #fff;
}

a {
  color: #2fab64;
  &:hover {
    color: #2fab65;
    opacity: 0.7;
  }
}

h1 {
  font-size 2rem;
  letter-spacing 0em;
}

h2 {
  font-size 1.5rem;
}

h3 {
  font-size 1.2rem;
}

hr {
  border: none;
  border-bottom: solid 1px #ddd
}

.content-container {
  padding-top: 50px;
}

@media (max-width: 991px) {
  .content-container {
    padding: 10px 15px;
  }
}
