<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Wonderus helps teams work smarter with a knowledge base available online or in Slack.">
    <meta name="slack-app-id" content="AAYHHMYLS">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="statics/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="statics/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="statics/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="statics/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="statics/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="statics/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="statics/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="statics/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="statics/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="statics/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/favicon/favicon-16x16.png">
    <link rel="manifest" href="statics/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <% if (htmlWebpackPlugin.options.ctx.mode.pwa) { %>
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.pwaManifest.theme_color %>">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= htmlWebpackPlugin.options.pwaManifest.background_color %>">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.pwaManifest.name %>">
    <link rel="apple-touch-icon" href="statics/icons/apple-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="statics/icons/ms-icon-144x144.png">
    <meta name="msapplication-TileColor" content="<%= htmlWebpackPlugin.options.pwaManifest.background_color %>">
    <% } %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118989121-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118989121-2');
    </script>

    <!-- Download Canny SDK -->
    <script>!function(w,d,i,s){function l(){if(!d.getElementById(i)){var f=d.getElementsByTagName(s)[0],e=d.createElement(s);e.type="text/javascript",e.async=!0,e.src="https://canny.io/sdk.js",f.parentNode.insertBefore(e,f)}}if("function"!=typeof w.Canny){var c=function(){c.q.push(arguments)};c.q=[],w.Canny=c,"complete"===d.readyState?l():w.attachEvent?w.attachEvent("onload",l):w.addEventListener("load",l,!1)}}(window,document,"canny-jssdk","script");</script>
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_org'] = 'ERK65';
        window['_fs_namespace'] = 'FS';
        (function(m,n,e,t,l,o,g,y){
            if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
            g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
            o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v){g('event',{n:i,p:v})};
            g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
            g.consent=function(a){g("consent",!arguments.length||a)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(){};
        })(window,document,window['_fs_namespace'],'script','user');
    </script>
    <%= htmlWebpackPlugin.options.headScripts %>

    <!--
      The following is optional if you DON'T build for PWA.
      Preloads/prefetches chunks/assets.
    -->
    <% if (!['cordova', 'electron'].includes(htmlWebpackPlugin.options.ctx.modeName) && htmlWebpackPlugin.options.ctx.prod) {
        for (var chunk of webpack.chunks) {
          for (var file of chunk.files) {
            if (file.match(/\.(js|css)$/)) { %>
      <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= file %>" as="<%= file.match(/\.css$/)? 'style' : 'script' %>">
    <% }}}} %>
  </head>
  <body>
    <% if (!htmlWebpackPlugin.options.ctx.mode.electron) { %>
      <noscript>
        This is your fallback content in case JavaScript fails to load.
      </noscript>
    <% } %>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

    <!-- DO NOT touch the following -->
    <%= htmlWebpackPlugin.options.bodyScripts %>

    <!-- built files will be auto injected here -->
  </body>
</html>
